<?xml version="1.0"?>
<launch>
  <!-- Standalone example launch file for 3DM-GX5-25 -->

  <!-- Microstain sensor node -->
   <node name="microstrain_3dm_gx5_25_node"
         pkg="microstrain_3dm_gx5_45"
         type="microstrain_3dm_gx5_25_node"
         output="screen">
         <rosparam command="load" file="$(find microstrain_3dm_gx5_45)/params/gx5_25.yaml" />
   </node>

</launch>
